.jumbotron {
  padding-top: 6rem;
  background-color: #d3eca7;
}

#Project {
  background-color: #d3eca7;
}

section {
  padding-top: 5rem;
}

body {
  background: #c1deae;
  scroll-behavior: smooth;
}

.Proeject:hover::before {
  width: 0%;
  height: 0%;
}
.Proeject:hover::after {
  width: 25%;
  height: 25%;
  opacity: 0%;
}

.card1 {
  width: 100%;
  height: 100%;
  margin: 0px 10px;
  transition: 1s;
}

.navabar {
  background-color: #a1b57d;
}

.btn {
  background-color: #a1b57d;
}

.footer {
  background-color: #a1b57d;
}
