.jumbotron {
  padding-top: 6rem;
  background-color: #d3eca7;
}

#Project {
  background-color: #d3eca7;
}

section {
  padding-top: 5rem;
}

body {
  background: #c1deae;
  scroll-behavior: smooth;
  color: #8daf4f;
}

.btn {
  background-color: #a1b57d;
  cursor: pointer;
}

.text {
  color: #d3eca7;
}

.nev {
  color: #d3eca7;
}
